body{
    color: snow;
    border:0;
    padding:0;
    margin:0;
    background: rgb(54, 51, 51);
    text-align: center;
}

.menor{
    color: tomato;
}

.mayor{
    color:limegreen;
}

button{
    margin: 0 0.5rem;
}